

<div id="login">
    <br>
    <h3>Jogo da Velha - Login</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <form action="/jogo"  method="POST">
                    <div class="form-group">
                        <label>Nome</label>
                        <input class="form-control" type="text" id='nome' name='nome' placeholder="Digite seu nome" required><br>
                        <button class="btn btn-info" id="bt-entrar" name="bt-entrar">Entrar</button>
                    </div>
                    
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

</div>

